@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-xs: 23.4375rem;
  --breakpoint-xm: 26.5625rem;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #888;
}

::-webkit-scrollbar-thumb {
  background-color: #dec544;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (prefers-color-scheme: dark) {
  .test {
    background-image: radial-gradient(
      circle at 1% 50%,
      rgba(231, 238, 26, 0.5) 0%,
      rgba(38, 38, 38, 0.1) 25%,
      rgba(38, 38, 38, 0.2) 50%,
      rgba(38, 38, 38, 0.3) 100%
    );
  }
}

@keyframes marquee-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-loop {
  animation: marquee-loop 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}


#nprogress .bar {
  background: #e7ee1a;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e7ee1a, 0 0 5px #e7ee1a;
}
